<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password reset completed.</title>
    <style>
        body
        {
            background-color: rgb(209, 109, 109);
            font-family: fantasy;
        }
        p
        {
            font-family: 'Courier New', Courier, monospace;
        }
        a
        {
            text-decoration:none;
        }
    </style>
</head>
<center>
<body>
    {% block title %}Password Reset Completed{% endblock %}
    {% block content %}
        <h1>Password set</h1> 
        <p style="color: white;" >Your password has been set.If you are a panchayat<font color=yellow> user </font> You can <a style="color: blue;" href="{% url 'login' %}"><b>LOG IN here</b></a></p> 
        <p style="color: white;">If you are a panchayat <font color=yellow>staff </font>You can<a style="color: blue;" class="btn btn-secondary" href="/logins"><b>LOG IN here</b></a></p>
    {% endblock %} 
</body>
</center>
</html>

