<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body
        {
            background-color: black;
            font-family: serif;
        }
    </style>
</head>
<body>
    <center>{% block title %}Reset your password{% endblock %}</center>
{% block content %} 
    <h1 style="color: cadetblue;">Reset your password</h1>
    <p style="color: white;">We've emailed you instructions for setting your password.</p>
    <p style="color: white;">If you don't receive an email, <font color=brown> please make sure you've entered the registered email address.</font></p>
{% endblock %}
</body>
</html>
