<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add SErvices</title>
  <style>
   
    #ab
    {
      text-decoration: none;
    }
    #id1
    {
      background-color: rgb(132, 235, 221);
    }
    ::-webkit-scrollbar
    {
      display: block;
      width: 5px;
      background: transparent;
    }
    #id_requirements
    {
      text-overflow:initial;
     
    }
    .row
    {
      margin-bottom: 2%;
    }
  </style>
</head>
<body id="id1">
  

{% extends "svs/base2.html" %}

{% block content %}
<div class="row">
  <center>
  {% if messages %} 
            {% for message in messages %}
                <small {% if message.tags %} class="{{message.tags}}" {% endif %}><font color="black"><h5> {{message}}</h5> </font></small>
            {% endfor %}
  {% endif %}
  </center>
  
  <div class="col-sm-12">
    <a id="lo" class="nav-item nav-link" href="/staffdetails"><i class="fa fa-user"></i></a>  

    <h4 class="text-center alert alert-success"><font color=gold>Add Services</font> </h4>

    <form action="" method="POST">
      
    {% csrf_token %}
 
      {{form.label_tag}} {{form}} <small class="text-danger">{{form.errors|striptags}}</small>
      <input type="submit" class="btn btn-sm btn-secondary" value="ADD">
      <button class="btn btn-sm btn-secondary"><a id="ab" href="{% url 'shows' %}">Show Services</a></button>
    </form>
    <br>
    
    <div class="row">
      <br>
      <button class="btn btn-sm btn-outline-info"><a id="ab" href="{% url 'showappl' %}">Income Services Request</a></button><br>
      </div>
      <div class="row">
        <br>
        <button class="btn btn-sm btn-outline-info"><a id="ab" href="{% url 'showappl2' %}">Panchayat Job Request</a></button><br>
        </div>
        <div class="row">
          <br>
          <button class="btn btn-sm btn-outline-info"><a id="ab" href="{% url 'showappl3' %}">Application of Gas Connection</a></button><br>
          </div>
          <div class="row">
            <br>
            <button class="btn btn-sm btn-outline-info"><a id="ab" href="{% url 'showappl4' %}">Other Services Request</a></button><br>
            </div>
      <div class="row">
        

    </div>
    click <a href="{% url 'staffchangepass' %}" > Here</a> to change password<br>
  </div>
  
</div>

{% endblock content %}

</body>
</html>